requests==2.32.5
pandas==3.0.0
scipy==1.17.0
networkx==3.6.1
plotly==6.5.2
dash==4.0.0
dash-bootstrap-components==2.0.4
dash-cytoscape==1.0.2
gunicorn==25.1.0

# for development
pytest
pytest-mock
pytest-cov
ruff
mypy
types-requests
pandas-stubs
types-networkx
